.notFounded {
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundedContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
}

.notFoundedTitle {}

.notFoundedGif {
  margin: 20px 0;
  border-radius: 5px;
}